<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="conatiner">
        <div id="header">
            <h2>Pulse</h2>
        </div>
        <div>
            <h1>Pulse Youth Group</h1>
        </div>
        <form action="/login/user" method="post">
            <label>Email </label>
            <input type="text" name="email">
            <label>Password</label>
            <input type="password" name="password">
            <button>Login</button>
        </form>
        <button><a href="/register_page.html">Register</a></button>
    </div>
</body>
</html>